@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  color: white;
  box-shadow: 2px 2px 20px 2px black;
}

#items{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  padding: .7rem;
  margin: 1rem;
  background-color: #eeecee;
  border: white;
  width: 300px;
}

.error{
  color: red;
  margin: .2rem;
}

button{
  width: 320px;
  border: 0;
  margin: .5rem;
  padding: .7rem;
  background-color: rgb(29, 202, 29);
  color: white;
  cursor: pointer;
  font-size: larger;
}

.success{
  background-color: blue;
  width: 310px;
  padding: .5rem;
}